{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],

  "tabWidth": 2,
  "printWidth": 100,

  "semi": true,
  "singleQuote": false,
  "insertPragma": false,
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "singleAttributePerLine": true,

  "arrowParens": "always",
  "trailingComma": "none",

  "importOrder": [
    "^react(.*)",
    "<THIRD_PARTY_MODULES>",
    "^styled-components$",
    "@/global/constants/app.constants",
    "^@/global(.*)",
    "@/(.*)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
