@import url(./reset.css);
@import url(./typography.css);
@import url(./root.css);

html {
  font-size: 62.5%;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
